<div class="container">
  <div class="row">
<div class="col-12 col-sm-12 col-md-12 col-lg-2">
  <div class="twitter">
  <span>TWITTER</span>
  <span>8899</span>
  <span>#bicyclecompany</span>
</div>
</div>
<div class="col-12 col-sm-12 col-md-12 col-lg-6">
    <span>LASTEST TWEETS</span><br>
    <span>Sed pretium hendrerit fringila. Vestibulum lora justo,
      tincidut eu leo quis.
      <span class="text-red">#bicycle</span>
      <span class="text-red">#lifestyle</span>
    </span>
    <span>#bicyclecompany</span>
  </div>
  <div class="col-12 col-sm-12 col-md-12 col-lg-2">
    <div class="fb">
      <span>FACEBOOK</span>
      <span>10399</span>
      <span>#bicyclecompany</span>
    </div>
    </div>
</div>
<div class="center">
  <h1>SUBSCRIBE TO OUR NEWSLETTER</h1>
  <span>Duis consecteur nisi sed augue mattis, In lobbortis nunc ullamcorper dui
    nec nisi ultricies pulvinar
  </span>
</div>
</div>