.container {
  padding-right: 0;
  padding-left: 0;
}
.row {
  justify-content: space-between;
}
.twitter,
.fb {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
}
.twitter {
  background: #00acee;
}
.fb {
    background: #3b5998;
}
.center{
    text-align: center;
}