<div class="container">
  <h2 class="titre">Latest articles</h2>
  <div class="row">
    <div class="col-12 col-sm-12 col-md-10 col-lg-10">
      <div class="box row">
        <div class="img col-12 col-sm-12 col-md-12 col-lg-6">
          <img class="image" src="/assets/images/guidon.jpg">
        </div>
        <div class="right col-12 col-sm-12 col-md-12 col-lg-6">
          <div class="space-between">
            <span class="How-to">How to</span>
            <div class="comments">
              <span>Comments: </span>
              <span>5</span>
            </div>
            <div class="date">
              <span>Date: </span>
              <span>5 sep 2017</span>
            </div>
          </div>
          <h4>Fusce consequat, pursus suscipit ultrices iaculis, mi ex eleifend nisi</h4>
          <p>Cros quam turpis, commodo vel blandit imperdiet, porttitor ut purus.
            Vestibulum nisi neque, iaculis sed tristique non,
            tempor sit amet est.
            Mauris et magna vehicula, luctus felis ut, maximus ante. integer arcu
          </p>
          <div class="space-between">
            <div class="auteur">
              <div class="nom">
                <span class="author">Author:</span>
                <span>Lara croft</span>
              </div>
            </div>
            <button class="btn">Read more</button>
          </div>
        </div>
      </div>
      <div class="box inverse row">
        <div class="img col-12 col-sm-12 col-md-12 col-lg-6">
          <img class="image" src="/assets/images/velo.jpg">
        </div>
        <div class="right col-12 col-sm-12 col-md-12 col-lg-6">
          <div class="space-between">
            <span class="How-to">Life style</span>
            <div class="comments">
              <span>Comments: </span>
              <span>5</span>
            </div>
            <div class="date">
              <span>Date: </span>
              <span>1 sep 2017</span>
            </div>
          </div>
          <h4>Ut malesuada quam et quam aliquet lacinia</h4>
          <p>Curabitur fringilla pellentesque ligula non dapibus. Prasent lobortis consequat gravida. Cras sed luctus
            ligula. Etiam congue tincidunt turpis
            id malesuada. In sodales justo hendrerit congue imperdiet.
          </p>
          <div class="space-between">
            <div class="auteur">
              <div class="nom">
                <span class="author">Author:</span>
                <span>John Doe</span>
              </div>
            </div>
            <button class="btn">Read more</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="center">
  <img src="/assets/images/load.png" class="image-load">
  <span>load more</span>
</div>
<div class="line"></div>