.article {
  display: flex;
  box-shadow: 0 0 20px 0 #d0d0d0;
}
.row{
  justify-content: center;
}
.titre{
  font-size: 32px;
  margin-bottom: 30px;
  font-weight: bold;
  font-family: Arial;
  text-align: center;
}
.right {
  padding: 40px 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background: #fff;
  position: relative;
}
.image {
  width: 100%;
}
.img{
  padding-right: 0;
  padding-left: 0;
}
.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.How-to {
  color: #FFA500;
}
.inverse {
  flex-direction: row-reverse;
}
.nom {
  display: flex;
  flex-direction: column;
}
.btn {
  color: #fff;
  border-radius: 20px;
  height: 41px;
  border-color: transparent;
  padding: 7px 17px;
  background: #fc3a52;
}
.auteur {
  display: flex;
  align-items: center;
}
.date,
.comments,
.author {
  color: #D3D3D3;
}
.date,
.comments,
.btn,
.type  {
  font-size: 14px;
}
.center{
  display: flex;
  justify-content: center;
  padding: 10px;
  font-size: 19px;
}
.line{
border-bottom: 1.2px solid #DCDCDC;
}
.image-load{
  width: 30px;
}
img{
  width: 100%;
}