.btn-primary {
  color: #fff;
  background-color: red;
  border-color: transparent;
}
h2 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 30px;
  font-weight: bold;
  font-family: Arial;
}
