<div class="container">


  <div class="items-left">
    <div class="item-left__serach">
      <img class="icon-search" src="/assets/images/search.png">
    </div>
    <div class="item-left__grid">
      <img class="icon-grid" src="/assets/images/grid.png">
      <h5>Shop Category</h5>
    </div>

  </div>
  <div class="items-center">
    <h1>bycicle company</h1>
  </div>
  <div class="items-right">
    <div class="item-right__profil">
      <img class="icon-profil" src="/assets/images/profil.png">
    </div>
    <div class="item-right__coeur">
      <img class="icon-coeur" src="/assets/images/coeur.png">
    </div>
    <div class="item-right__shopping">
        <img class="icon-shopping" src="/assets/images/shopping.png">
      </div>
  </div>
</div>