.container {
  background-color: black;
  height: 80px;
  max-width: 1144px;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: space-between;
}
h1,
h5 {
  font-weight: 100;
}
h1 {
  font-family: "Algerian";
  font-size: 35px;
}
h5 {
  font-family: "Arial Narrow";
  font-size: 20px;
  margin-top: 10px;
}
.items-left,
.item-left__grid,
.items-right {
  display: flex;
}
.item-left__grid,
.item-left__serach {
  border-right: 0.2px solid #696969;
}
.item-right__profil,
.item-right__coeur,
.item-right__shopping {
  border-left: 0.2px solid #696969;
  width: 80px;
}
.item-left__grid {
  width: 152px;
}
.item-left__serach {
  width: 70px;
}
.icon-search {
  width: 27px;
  margin: 28px 11px;
}
.icon-grid,
.icon-profil,
.icon-coeur,
.icon-shopping {
  filter: invert(1);
  margin: 23px 16px;
}
.icon-grid,
.icon-shopping {
  width: 40px;
}
.icon-profil,
.icon-coeur {
  width: 30px;
}
