<div class="container" style="background: linear-gradient(10deg, rgb(98, 103, 107), rgb(255, 255, 255));">
  <div class="row">
    <div class="col col-12 col-sm-12 col-md-6 col-lg-6">
      <img class="image" src="/assets/images/bicycle-company.jpg">
    </div>
    <div class="col col-12 col-sm-12 col-md-6 col-lg-6">
      <div class="description">
        <h2>BICYCLE COMPANY</h2>
        <p>
          Whether it is your lst bike, your last bike or every bike in between, I am
          here to serve your cycling needs. I'll take the time to understand your needs,
          and find solutions that enhance your cycling experience.<br>
          <span>Join my community of satisfied customers.</span><br>
          <span>It's going to be pretty awesome...</span><br>
          <span class="text-red">If it ain't fixed, it's broken</span>
        </p>
      </div>
    </div>
  </div>
</div>