@import "../../../../src/assets/global/products.scss";
img {
  height: 700px;
  width: 1142px;
}
h1,
.btn {
  color: white;
  position: absolute;
}
h1 {
  bottom: 258px;
  left: 432px;
  width: 200px;
  text-align: center;
  font-size: 62px;
}
.btn {
  bottom: 168px;
  left: 495px;
  width: 163px;
  border-radius: 25px;
  height: 37px;
  padding-top: 0px;
  text-align: center;
  background-color: red;
  font-size: 22px;
}
