<ngb-carousel *ngIf="images">
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[0]" alt="Random first slide">
    </div>
    <div class="carousel-caption">
      <h1>AWESOME BICYCLE PRODUCTS </h1>
      <button class="btn btn-primary btn-more-info">More info</button>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[1]" alt="Random second slide">
    </div>
    <div class="carousel-caption">
    </div>
  </ng-template>
  <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="images[2]" alt="Random first slide">
      </div>
      <div class="carousel-caption">
        <h1>AWESOME BICYCLE PRODUCTS </h1>
        <button class="btn btn-primary btn-more-info">More info</button>
      </div>
    </ng-template>
  <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="images[3]" alt="Random first slide">
      </div>
      <div class="carousel-caption">
        <h1>AWESOME BICYCLE PRODUCTS </h1>
        <button class="btn btn-primary btn-more-info">More info</button>
      </div>
    </ng-template>
  </ngb-carousel>