<div class="container">
    <h2>FEATURED PRODUCTS</h2>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-8 col-lg-8">
            <div class="featured-products horizental">
                <div class="col">
                    <div class="left col">
                        <div class="group row">
                            <div class="information">
                                <span>Mountain Bike</span>
                                <h3>Carbon Rims Wide</h3>
                            </div>
                            <img src="/assets/images/roues.jpg">
                        </div>
                        <div class="btn">
                            <button>Buy</button>
                            <span>From <br>$700</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="featured-products">
                                <div class="left col">
                                    <div class="row">
                                        <div class="information">
                                            <span>Frames</span>
                                            <h3>Zealous Div Frame</h3>
                                        </div>
                                        <img src="/assets/images/guidon.jpg">
                                    </div>
                                    <div class="btn">
                                        <button>Buy</button>
                                        <span>From <br>$900</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="featured-products">
                                <div class="left col">
                                    <div class="row">
                                        <div class="information">
                                            <span>Aero System</span>
                                            <h3>ShockStop Suspension Steam</h3>
                                        </div>
                                        <img src="/assets/images/shockStop.jpg">
                                    </div>
                                    <div class="btn">
                                        <button>Buy</button>
                                        <span>From <br>$700</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4">
            <div class="featured-products vertical">
                <span>new</span>
                <div class="left col">
                    <div class="row">
                        <div class="information">
                            <span>AERO SYSTEM</span>
                            <h3>Redshift DUAL-POST SEATPOST</h3>
                        </div>
                        <img src="/assets/images/seat.jpg">
                    </div>
                    <div class="btn">
                        <button>Buy</button>
                        <span>From <br>$700</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="center">
    <img src="/assets/images/load.png" class="image-load">
    <span>load more</span>
</div>
<div class="line"></div>