@import "../../../../src/assets/global/products.scss";

.featured-products {
    border: none;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #fff;
}
.left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 220px;
}
.img-roues{
    width: 250px;
    height: 230px;
}
button{
    border-radius: 20px;
    color: #000;
    border-color: transparent;
    width: 66px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.col {
    color: #000;
}
.group {
    display: flex;
    justify-content: space-between;
}
.center{
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: 19px;
}
.line{
  border-bottom: 1.2px solid #DCDCDC;
}
.image-load{
    width: 30px;
}
img{
    width: 100%;
}