<div class="d-md-block d-lg-none offset-md-1"></div>
<div class="col-12 col-sm-12 col-md-5 col-lg-4">
<div style="background: linear-gradient(60deg, rgb(255, 255, 255), rgb(255, 255, 255));">
<div class="left col">
<div class="group row">
<div class="col">
<h3>AAS Juice</h3></div>
<img  src="/assets/images/maintenance/aas.png"></div>
<div class="product-bottom-information">
<button class="btn btn-primary btn-buy">
<i class="icon-shopping-cart"></i>
<span>Buy</span></button>
<button class="btn btn-primary btn-like" name="like">
<i class="icon-heart-o"></i></button>
<div class="price">
<span class="text">$127</span></div></div></div>
<div class="right col display-horizontal">
<img src="/assets/images/maintenance/aas.png"></div></div>
</div>
<div class="col-12 col-sm-12 col-md-5 col-lg-4">
<div style="background: linear-gradient(60deg, rgb(255, 255, 255), rgb(255, 255, 255));">
<div class="left col">
<div class="group row">
<div class="col">
<h3>Oil</h3></div>
<img class="col" src="/assets/images/maintenance/oil.png"></div>
<div>
<button class="btn btn-primary btn-buy">
<i class="icon-shopping-cart"></i>
<span>Buy</span>
</button>
<button class="btn btn-primary btn-like">
<i class="icon-heart-o"></i></button>
<div>
<span>$333</span></div></div></div>
<div>
<img src="/assets/images/maintenance/oil.png">
</div></div>
</div>