<div class="app">
  <div class="app__nav">
    <app-side-nav></app-side-nav>
  </div>
  <div class="app__content">
    <app-bicycles-products></app-bicycles-products>
  </div>
  <div class="app__footer">
    <app-footer></app-footer>
  </div>
</div>