<app-carousel></app-carousel>
<app-about></app-about>
<app-featured-products></app-featured-products>
<app-maintenance-products></app-maintenance-products>
<app-latest-articles></app-latest-articles>
<app-bicycles-company></app-bicycles-company>
<app-social-media></app-social-media>