.container {
  background: #e8d5b7;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
}
.btn {
  display: inline-block;
  border-color: transparent;
  background: #fff;
  color: #000;
  box-shadow: 0 0 5px 0 rgba(128, 128, 128, 0.5);
  border-radius: 25px;
  max-width: 160px;
}
.price{
  display: inline-block;
  margin: 10px;
}
.row{
  padding: 20px;
}
.col{
  max-width: 262px;
}