<div class="container">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-4">
      <h2>Maintenance products</h2>
      <span>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en
        page avant impression.
        Le Lorem Ipsum est le faux texte standard de l"imprimerie depuis les années 1500,
        quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de
        texte.</span>
        <div>
      <button class="btn btn-primary">See all products</button>
    </div>
    </div>
    <div class="col-12 col-sm-12 col-md-5 col-lg-4">
      <div style="background: linear-gradient(60deg, rgb(255, 255, 255), rgb(255, 255, 255));">
        <div class="left col">
          <div class="group row">
            <div class="col">
              <h3>AAS Juice</h3>
            </div>
            <img src="/assets/images/aasjuice.jpg">
          </div>
          <div >
          <button class="btn">           
            <span>Buy</span>         
          </button>
          <div class="price">
            <div>
          <span>$127</span>
        </div>
        </div>
        </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-5 col-lg-4">
      <div style="background: linear-gradient(60deg, rgb(255, 255, 255), rgb(255, 255, 255));">
        <div class="left col">
          <div class="group row">
            <div class="col">
              <h3>Oil</h3>
            </div>
            <img class="col" src="/assets/images/proxLiquidGrease.jpg">
          </div>
          <button class="btn btn-primary btn-buy">
            <span>Buy</span>
          </button>
          <div class="price">
          <span>$333</span>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>