<div class="container">
    <div class="row">
        <div>
            <h1>WHO WE ARE</h1>
            <p>
                We are one of the best bicycle companies in the world.
                We provide the best quality products of bicycle and no one can be compared by our service because we are
                the best and we will be. We deliver all the products with brand new quality and services.Any product is
                available in different colors and they are very good looking. We take very less delivery charge in
                comparison with other companies
            </p>
            <button class="btn btn-primary btn-more-info">More info</button>
        </div>
        <div class="images-left">
            <img src="/assets/images/bicycle1.jpg" class="bicycle-1">
            <img src="/assets/images/bycycle2.jpg" class="bicycle-2">
        </div>
    </div>
</div>