@import "../../../../src/assets/global/products.scss";
.container {
  margin: 100px;
}
h1 {
  font-size: 42px;
  font-family: Arial Black;
}
p {
  font-size: 21px;
  width: 500px;
  font-family: Arial Narrow;
}
.btn {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  width: 168px;
  border-radius: 25px;
  height: 42px;
  padding-top:0px;
  text-align: center;
  background-color: red;
  color: white;
  font-size: 22px;
  margin-top: 51px;
}
.bicycle-2 {
  transform: rotate(90deg);
  filter: opacity(0.3);
  width: 265px;
  height: 286px;
  opacity: 0.7; 
}
.bicycle-1 {
  filter: drop-shadow(2px 4px 6px black);
  position: absolute;
  margin: 109px 0px 0px -94px;
  width: 244px;
  height: 245px;
}
strong {
  size: 32px;
  font-weight: bold;
  font-size: 34px;
}
.center {
  margin: auto;
  text-align: center;
  padding-top: 125px;
}
.images-left{
  margin-left: 178px;
}