<div class="container">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-6 col-lg-6">
      <h2 class="title">Bicycle company</h2>
      <span> Le Lorem Ipsum est simplement du faux texte employé dans la composition et
        la mise en page avant impression. </span>
      <div class="terme">
        <a href="#">Guides</a>
        <a href="#">Terms of Use</a>
        <a href="#">Privacy Policy</a>
      </div>
      <span>©Copyright 2017, Bicycle Company</span>
    </div>
    <div class="col-12 col-sm-12 col-md-2 col-lg-2">
      <h3 class="title">Quick links</h3>
      <div class="links">
        <a href="#">Search</a>
        <a href="#"> Shipping and Delivery </a>
        <a href="#"> Payment Options </a>
        <a href="#">Contact Us</a>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-2 col-lg-2">
      <h3 class="title">About Us</h3>
      <div class="links">
        <a href="#">Our story</a>
        <a href="#">Maintenance</a>
        <a href="#">Service</a>
        <a href="#">Products</a>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-2 col-lg-2">
      <h3 class="title">Follow Us</h3>
      <span>Payment methods</span>
    </div>
  </div>
</div>