.container {
  color: #808080;
  font-size: 14px;
  background-color: black;
}
.column {
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
  flex-direction: row;
  padding: 49px;
}
h2 {
  font-family: "Algerian";
}
h3 {
  font-size: 18px;
}
.title {
  color: white;
}
.terme {
  margin: 19px 0px 21px 0px;
}
a {
  padding-right: 15px;
  color: #a8a8a8;
}
.links {
  display: flex;
  flex-direction: column;
}
